body {
    font-family: Arial, sans-serif;
}

table,
th,
td {
    border: 1px solid black;
    margin: auto;
}

table {
    width: 100%;
    max-width: 300px;
}

th {
    background-color: #e19797;
    font-weight: bold;
    text-align: center;
}

.frsCol-secRow {
    background-color: #e19797;
    text-align: center;
}

.lstCol {
    font-weight: bold;
    text-align: center;
    background-color: yellow;
}

span {
    display: block;
    text-align: center;
}