* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #afb3e8;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-form {
    width: 400px;
    max-width: 100%;
    height: auto;
    padding: 30px;
    border-radius: 5px;
    background-color:#7279d5;
}

h4 {
    margin-bottom: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.input:focus {
    outline: none;
    border-color: #6c757d;
}

.checkbox {
    margin-bottom: 10px;
}

.Sign-Up {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Sign-Up:hover {
    background-color: #0056b3;
}

.text {
    text-align: center;
    margin-top: 20px;
}

.text a {
    text-decoration: none;
}

.text a:hover {
    text-decoration: underline;
}